body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* header*/

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-accent {
  color: #2e2f42;
}

.nav-link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}
.address {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts {
  color: #434455;
}
.contacts:hover {
  color: #404bbf;
}
.contacts:focus {
  color: #404bbf;
}

/* hero-section*/
.hero-image {
  background: #2e2f42;
}
.hero-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-button {
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-button:hover {
  color: #fff;
  background-color: #404bbf;
}
.hero-button:focus {
  color: #404bbf;
  background-color: #404bbf;
}
/*feature section*/

.visually-hidden {
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.feature-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*our-team-section*/

.our-team-section {
  background-color: #f4f4fd;
}
.our-team-title {
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.our-team-list {
  background-color: #ffffff;
}
.our-team-name {
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.our-team-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*Our Portfolio*/

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.portfolio-name {
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*footer*/
.footer-section {
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo-accent-footer {
  color: #f4f4fd;
}
